 <mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile colspan="2" rowspan="5">
    <!--picture-->
    <img [src]="this.movie.poster_path" class="popular_images" />
  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan="5" style="display: inline-block; ">
    <!--title/rating/synopsis-->
    <h1 style="width: 100%; position: absolute; top: 16px; text-align: left; flex: 1 1 auto; margin-left:32px;"> {{this.movie.title}} <span style="float:right; margin-right:32px">{{this.movie.rating}} / 5 </span></h1>
    <h3 style="width:90%; max-height:80%"> {{this.movie.overview}} </h3>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="4" style="margin-top:16px">
    <!--post component-->
    <app-post style="width:100%;" [movieId]="id"></app-post>
  </mat-grid-tile>

  <mat-grid-tile colspan="6" rowspan="8" style="margin-top:16px; overflow-y:scroll">
    <!--all the reviews-->
    <ul style="width: 100%; margin-top: 32px;">
      <div *ngFor="let post of posts" style="max-height: 20%; width: 100%;">
        <h1 style="width: 100%; text-align: left; flex: 1 1 auto;"> User: {{post.identityUserId}} <span style="float:right; margin-right:32px">{{post.rating}} / 5 </span></h1>
        <!-- This will be a list of images/links to popular movies-->
        <h3 style="width:90%; max-height:20%">{{post.content}}</h3>
      </div>
    </ul>
  </mat-grid-tile>

</mat-grid-list>
